* {
  font-family: verdana, Meiryo, sans-serif;
  font-size  : 12pt;
  background-color: #FFF;
}

div.langSelect
{
	float: right;
}
div.langSelect > .btn:first-child 
{
	background-color: dodgerblue;
	border-color: dodgerblue;
}
div.langSelect > .btn:first-child:hover
{
	color: white;
	background-color: midnightblue;
	border-color: midnightblue;
}
div.langSelect > .btn:first-child:active
{
	background-color: midnightblue;
	border-color: midnightblue;
}
.btn .caret
{
	margin-left: 10px;
	background-color: transparent;
}

div #dropArea, p.dropText
{
	background-color: skyblue;
}


div #dropArea
{
	height: 80%;
	width: 80%;
	border-radius: 5px;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
	border: dotted 15px steelblue;
	border-radius: 5px;
}

p.dropText
{
	font-size: 500%;
 	text-align: center;
 	vertical-align: middle;
 	margin-top: 20%;
    color: steelblue;
    font-weight: bolder;
    opacity: 1;
}

.alertMsg div, .alertMsg span
{
	background-color: #f2dede;
}

div #summary
{
	margin: 10px;
	padding: 10px;
}

.titleHeader
{
	margin-top: 3%;
	text-align: center;
	color: maroon;
}

.titleString
{
	margin: 0%;
	font-weight: bolder;
}

.titleStrLarge
{
	font-size: 250%;
}

.paragraph1
{
	background-color: yellowgreen;
	height: 80px;
	font-size: 100%;
	vertical-align: middle;
}

.paragraph2
{
	height: 50px;
	vertical-align: middle;
	font-size: 20px;
	background-color: orange;
}

.forSpace
{
	border-color: white;
	background-color: white;
}

.littleSpace
{
	margin-top: -3%;
}

.largeSpace
{
	margin-top: 5%;
}

.header4
{
	font-weight: bold;
	color: royalblue;
}

/*
canvas
{
	width: 800px;
	height: 400px;
}
*/

/*-------------------------------------
   Button Relevant
--------------------------------------*/
.btn-primary
{
	background-color: indianred;
	border-color: indianred;
}

.btn-primary.active
{
	background-color: firebrick;
	border-color: firebrick;
	color: gold;
}

.btn-primary:hover, .btn-primary.active:hover
{
	background-color: darkred;
	border-color: darkred;
	color: gold;
}

label.btn.btn-primary.ng-untouched.ng-valid.ng-not-empty.ng-dirty:active,
label.btn.btn-primary.ng-pristine.ng-untouched.ng-valid.ng-not-empty:active,
.btn-primary:active, .btn-primary.active:active
{
	background-color: darkred;
	border-color: darkred;
	color: red;
}

/*-------------------------------------
   TABLE & Graph Relevant
--------------------------------------*/

select.pvtRenderer
{
	border-radius: 5px;
}

td.pvtVals, td.pvtAxisContainer
{
	display: none;
}

div.tableChart
{
	overflow: hidden;
}

div.tableChart:before, div.tableChart:after
{
	content: "";
	display: table;
}

div.tableChart:after
{
	clear: both;
}

div.pTab, div.pGraph
{
	float: left;
}

div.pGraph
{
	margin-left: 30px;
}

.tableHeader, .paragraph1, .paragraph2
{
	border-radius: 5px;
    padding: 5px;
	font-weight: bolder;
    text-align: center;
	color: #fff;
}

.tabRowHeader
{
	font-weight: bold;
	color: royalblue;
}

td.cellCenter
{
	text-align: center;
	vertical-align: middle;
}

.tableHeader td,
table.pvtTable thead tr th
{
	background-color: royalblue;
}

table.pvtTable tbody tr th, table.pvtTable thead tr th
{
    padding: 5px;
	font-weight: bolder;
	color: #fff;
}

table.pvtTable thead tr th
{
	padding: 10px;
}

table.pvtTable .pvtRowLabel
{
	color: royalblue;
	background-color: #FFF;
}

table.pvtTable .pvtTotalLabel
{
	background-color: royalblue;
	text-align: center;
}

.pvtTotal
{
	font-weight: normal;
}


table.pvtTable
{
	border-collapse: separate;
}

div #changeCategoryTab .pvtRowLabel
{
	text-align: left;
}

.tableRound, .pvtTable
{
  /*
  border-width: 2px;
  border-color: midnightblue;
  border-style: solid;
  */
  border-spacing: 0;
  border-collapse: separate;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
  /* box-shadow: 0 1px 1px #CCC; */ 
}

/* -----------------------
  左上角丸　最初の行の最初のセル
----------------------- */
.tableRound tr:first-child th:first-child,
.tableRound tr:first-child td:first-child
{
    -webkit-border-radius: 5px 0 0 0;
       -moz-border-radius: 5px 0 0 0;
         -o-border-radius: 5px 0 0 0;
            border-radius: 5px 0 0 0;
}
/* -----------------------
  右上角丸　最初の行の最後のセル
----------------------- */
.tableRound tr:first-child th:last-child,
.tableRound tr:first-child td:last-child {
    -webkit-border-radius: 0 5px 0 0;
       -moz-border-radius: 0 5px 0 0;
         -o-border-radius: 0 5px 0 0;
            border-radius: 0 5px 0 0;
}
/* -----------------------
  左下角丸　最後の行の最初のセル
----------------------- */
.tableRound tr:last-child th:first-child,
.tableRound tr:last-child td:first-child {
    -webkit-border-radius: 0 0 0 5px;
       -moz-border-radius: 0 0 0 5px;
         -o-border-radius: 0 0 0 5px;
            border-radius: 0 0 0 5px;
}
/* -----------------------
  右下角丸　最後の行の最後のセル
----------------------- */
.tableRound tr:last-child th:last-child,
.tableRound tr:last-child td:last-child {
    -webkit-border-radius: 0 0 5px 0;
       -moz-border-radius: 0 0 5px 0;
         -o-border-radius: 0 0 5px 0;
            border-radius: 0 0 5px 0;
}
/* --------------------------------------------
  thaed,tbodyを使う場合の設定
-------------------------------------------- */
/*
.tableRound thead th {background:#e3dcd5;}
.tableRound thead+tbody th {background:#f4ede6;}
*/
.pvtTable tbody th {text-align:center;}/*IE*/
/* -----------------------
  左上角丸 thead内　最初の行の最初のセル
----------------------- */
.pvtTable thead tr:first-child th:first-child,
.pvtTable thead tr:first-child td:first-child {
    -webkit-border-radius: 5px 0 0 0;
       -moz-border-radius: 5px 0 0 0;
         -o-border-radius: 5px 0 0 0;
            border-radius: 5px 0 0 0;
}
/* -----------------------
  右上角丸 thead内　最初の行の最後のセル
----------------------- */
.pvtTable thead tr:first-child th:last-child,
.pvtTable thead tr:first-child td:last-child {
    -webkit-border-radius: 0 5px 0 0;
       -moz-border-radius: 0 5px 0 0;
         -o-border-radius: 0 5px 0 0;
            border-radius: 0 5px 0 0;
}
/* -----------------------
  角丸なし　thaedの後のtbody 最初の行の最初のセル
  角丸なし　thaedの後のtbody 最初の行の最後のセル
----------------------- */
.pvtTable thead+tbody tr:first-child th:first-child,
.pvtTable thead+tbody tr:first-child td:first-child,
.pvtTable thead+tbody tr:first-child th:last-child,
.pvtTable thead+tbody tr:first-child td:last-child {
    -webkit-border-radius:0px;
       -moz-border-radius:0px;
         -o-border-radius:0px;
            border-radius:0px;
}
/* -----------------------
  左下角丸　thaedの後のtbody 最後の行の最初のセル
----------------------- */
.pvtTable thead+tbody tr:last-child th:first-child,
.pvtTable thead+tbody tr:last-child td:first-child {
    -webkit-border-radius: 0 0 0 5px;
       -moz-border-radius: 0 0 0 5px;
         -o-border-radius: 0 0 0 5px;
            border-radius: 0 0 0 5px;
}
/* -----------------------
  右下角丸　thaedの後のtbody 最後の行の最後のセル
----------------------- */
.pvtTable thead+tbody tr:last-child th:last-child,
.pvtTable thead+tbody tr:last-child td:last-child {
    -webkit-border-radius: 0 0 5px 0;
       -moz-border-radius: 0 0 5px 0;
         -o-border-radius: 0 0 5px 0;
            border-radius: 0 0 5px 0;
}


/*-------------------------------------
   BLINK Relevant
--------------------------------------*/
.blinking{
	-webkit-animation:blink 1.0s ease-in-out infinite alternate;
    -moz-animation:blink 1.0s ease-in-out infinite alternate;
    animation:blink 1.0s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}